
body > header{
    grid-area: header;
    position: relative;
    height: 6em;

    display: grid;
    grid-template: 
        "logo form signup" 1fr
}

body > header > a{
    grid-area: logo;
}
#search-bar{
    grid-area: form;
    align-self: center;
}
#signup{
    
    grid-area: signup;
    align-self: center;
    justify-self: right;
    padding-right: 2em;
}
