

*{
    color: inherit;
    text-decoration: none;
    padding: 0;
    border: 0;
    letter-spacing: 0;
   
}

ul{
    list-style: none;
}
html {
    margin: 0;
    height: 100%;
    width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin:0;
    min-height: 100%;
    width: 100%;
}
h1, h2{
    font-family: serif;
}

/* Header */
body > header {
    background-color: white;
    color:  black;  
    box-shadow: 0 7px 14px rgb(194, 195, 197);
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    
}
body > header a{
    color: black;
    text-decoration: none;
}
body>header>a>img{
    margin-left: 1em;
    height: 6em;
    width: 6em;
}

/*sticky header */
main, footer {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + main ,footer{
  padding-top: 50px;
}


#search-bar>label> input[type=text], #signup a{
    width: 100%;
    padding: 12px;
    border: 1px solid #04AA6D;
    border-radius: 20px;
    box-sizing: border-box;
  
}

/*
 header dropdown menu
 */


 .dropbtn {
  background-color: #FFFFFF;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  background-color: transparent;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0);
  right: 1em;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  background-color: #f1f1f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #FFFFFF;}


/*restaurant list */


main {
    padding: 1em;
   /* margin: 0 11rem 0 11rem;*/
    margin: auto;
    max-width: 66rem;
  }
  
  main a {
    text-decoration: none;
  }

  main h1{
    text-align: center;
 }
  
 .restaurants-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3em;

  }
  
  .restaurants-list article {
    width: 300px;
    height: 290px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    color: black; 
  }

  
  .restaurants-list article a {

    color: black;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;

  }
  .restaurants-list article a:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
  }


 .restaurants-list #restaurant-category {
    font-size: 13px;
     color: rgba(0,0,0,0.6);

  }
  .restaurants-list #rest_info_rate{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1rem;
  }
  .restaurants-list #restaurant-rating{
    flex:auto;
    text-align: right;
    display: block;
    
  }
  .restaurants-list #restaurant-city{
    font-size: 1rem;
  }
  /***************************************************/
/*restaurant page*/
.restaurant-page{
  margin-top: 2rem;
}
.restaurant-page #header-category{
    color: rgba(0,0,0,0.6);
    text-align: left;
}
.restaurant-page h3{
  text-align: left;
  margin-top: 0;
  color: rgba(0,0,0,0.8);
}
.restaurant-page #maps:hover{
  color:#04AA6D;
  background-color: transparent;
}
.res-page-name{
  display: flex;
  justify-content: space-between;

}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.restTab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.restTab button:hover {
  background-color:#f1f1f1;
}

#menuRest,  #reviewsRest{
  display: none;
}

hr#tabLine {
  border:1px solid #f1f1f1;
  background-color:#f1f1f1;
  width: 100%;
}
.res-page-name #r_name{
  font-size: 2rem;
  text-align: left;
  margin-bottom: 2rem;
}

.res-page-name #r_rate{
  font-size: 3rem;
  text-align: right;
}
.restaurant-page >img{
  display: block;
  margin: 2rem auto;
}
.restTab button:first-child{
    border-bottom: 4px solid green;
}
.partial-menu > article, .fullMenu > article{
display: flex;
}
.partial-menu > article hr#menuHr , .fullMenu hr#menuHr{
  border-top: 1px dashed rgba(0,0,0,0.8);
  margin: 0.5em auto;
  width: 100%;
}

.partial-menu > article{
  font-size: 1rem;
}
.partial-menu > article #dish-price, .fullMenu #dish-price {
  margin-left: 5px;
}
.partial-menu > article #dish-name, .fullMenu #dish-name{
  white-space: nowrap;
  margin-right: 5px;
}
.partial-menu #menuBtn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.partial-menu  button{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 1em auto;
  border: none;
  cursor: pointer;
  width: 30%;
  border-radius: 20px;
}
.partial-menu  button:hover{
  opacity: 0.8;
}
.rate-table > hr{
  border:1px solid #f1f1f1;
  background-color:#f1f1f1;
}
.rate-table #line{
  display: flex;
  margin-top:1em;
}
.rate-table #middle{
  width: 100%;
  background: #f1f1f1;
  height: 18px;
  margin: 0 1em;
}

.rate-table #bar-5 { width:0; height: 18px; background-color: #04AA6D; display: inline-block;}
.rate-table #bar-4{ width: 0; ; height: 18px; background-color: #2196F3; display: inline-block;}
.rate-table #bar-3 { width: 0; ; height: 18px; background-color: #00bcd4;display: inline-block;}
.rate-table #bar-2 { width: 0;  height: 18px; background-color: #ff9800;display: inline-block;}
.rate-table #bar-1{ width: 0;  height: 18px; background-color: #f44336;display: inline-block;}

@media (max-width: 400px) {
  .rate-table #right {
    display: none;
  }
}
.rand-comments, .comments{
  margin-top: 1rem;
}
.comment-info{
  display: flex;
  -moz-box-align: center;
  align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}
.comment-info img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.comment-info div:first-child{
    display: flex;
    flex-direction: row;
}
.comment-info #name-date{
  display: flex;
  flex-direction: column;
    justify-content: center;
}
.comment-info #comment-date{
    opacity: 0.6;
}
.comment-info #comment-rate{
    font-size: 1.25em;
}
.comment-info #comment-max{
    font-size: 0.75em;
}
.rand-comments hr, .comments hr{
    border: 1px solid #f1f1f1;
    margin:1em 0;
}
.rand-comments #comment-text, .comments #comment-text{
   font-size: 1em;
}
.rand-comments #reviewsBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rand-comments  button{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 1em auto;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 20px;
}
.rand-comments  button:hover{
    opacity: 0.8;
}
/*******************************************************/



  /*footer*/
  footer {

      background-color: black;
      color: white;
      padding: 1rem 11rem 1rem 11rem;
      margin-top: 1rem;
  }

  #footer-main{
    display: flex;
    flex-wrap: wrap;
  }

  #footer-logo{
    display: block;
    padding: 0 2rem;
    justify-content: center;
   
  }
  #footer-logo img{
    height: 7em;
    width: 7em;
  }

  #footer-table{
    display: block;
  }
  #footer-table li{
    margin-bottom: 5px;
    font-size: 15px;
  }


  /*login form */

  .login input[type=email], .login input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 2em;
    display: inline-block;
    border: 1px solid #04AA6D;
    box-sizing: border-box;
    gap:2em;
    border-radius: 20px;
  }

.login input:focus {
    outline: none !important;
    border-color: #04AA6D;
}
  
  .login button , #login-newacc button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin-bottom: 1em;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px
  }
  
  .login button:hover , #login-newacc button:hover  {
    opacity: 0.8;
  }
  
  .login{
    padding: 16px;
  }
  
  .login span.psw {
    float: right;
  }
  #login-opt{
    margin-bottom: 1em;
  }
  #login-opt a:link {
    color: #04AA6D;
    background-color: transparent;
    text-decoration: none;
  }
  #login-opt a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }


  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
  }
  
  hr#login-bar {
    margin: 0 200px 0 200px;
    height:2px;
    border-width:0;
    color:#f1f1f1;
    background-color:#f1f1f1;
  }

  #login-newacc h2{
    text-align: center; 
  }
 
/* REGISTER FORM */
.register{
  padding: 16px;
}

.register input[type=email], .register input[type=password], .register input[type=text], .register input[type=date], .register input[type=number], .register select{
  width: 100%;
  padding: 12px 20px;
  margin-top: 8px;
  margin-bottom: 2em;
  display: inline-block;
  border: 1px solid  #04AA6D;
  box-sizing: border-box;
  gap:2em;
  border-radius: 20px;
    background: white;
}

.register input:focus, .register select:focus {
    outline: none !important;
    border-color: #04AA6D;
}
.register button , #regToLogin button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin-top: 2em;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px
}

.register button:hover , #regToLogin button:hover  {
  opacity: 0.8;
}

hr#register-bar {
  margin: 0 200px 0 200px;
  height:2px;
  border-width:0;
  color:#f1f1f1;
  background-color:#f1f1f1;
}
/*register restaurant*/

.register #city_zip{
  display: flex;
  flex-direction: row;
}
.register #city_zip >label {
  width: 50%;
}
.register #city_zip >label:last-child {
  margin-left: 1rem;
}
.register #city_zip >label:first-child {
  margin-right: 1rem;
}

#regToLogin h2{
  text-align: center; 
}
/* ABOUT US */
#AboutUsPageMembers{
  display: none;
}

.AboutUsPage{
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  justify-content: space-around;
  width:100%
}

.AboutUsBox{
  background-color: rgb(255, 255, 255);
  align-self: center;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  padding: 2.5em;
  -webkit-box-shadow: 0 5px 20px 3px rgba(138, 138, 138, 0.05);
  box-shadow: 0 5px 20px 3px rgba(138, 138, 138, 0.05);
  border: 1px solid rgba(190, 190, 190, 0.418); 
  width:40%;
}

.AboutUsTitle{
  align-self: center;
  color: black;
  font-weight: 900;
  font-size: 20px;
  padding-bottom: 15px;
}

.AboutUsMemberSpace{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  color: black; 
  margin-bottom: 3%;

  background-color: rgb(241, 238, 238);
  border-radius: 20px;
}

.AboutUsEmail{
  color: rgb(131, 131, 131); 
}

.AboutUsMember{
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.AboutUsHR{
  width: 90%;
  align-self: center;
  /*height: 5px;*/
  color: black;
  margin-bottom: 3%;
  background-color:black;
}

#AboutUsInfo{
  color: rgb(148, 144, 144);
  width: 90%;
  align-self: center;
  margin-bottom: 6%;
}

.AboutUsPhoto{
  display: inline;
    height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
    margin: 7% auto;
}

.AboutUsMemberName{
  display: flex;
  align-self: center;
  flex-flow: column;
  justify-content: center;
}

.AboutUsButton{
  border: 0;
  padding: 13px;
  border-radius: 20px;
  font-size: 13px;
  background-color:#04AA6D;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 40%;
  height: 5%;
  display: flex;
  justify-content: center;

  margin-left: auto; 
  margin-right: 0;
}

.AboutUsDivButton{
  width: 90%;
  align-self: center;
  display: flex;
}

#AboutUsTeamDiv{
  width: 90%;
  align-self: center;
}

.AboutUsMembersInfo{
  display: flex;
  flex-flow: column;
}

.AboutUsDivIcon{
  display: flex;
  flex-flow: row;
}

.AboutUsIcon{
  margin-right:10px;;
}

/* FAQ */


#FAQ {
  margin: 0 auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}
#FAQ-body body {
  font-family: sans-serif;
  color: black;
}
.faq-heading {
  border-bottom: #777;
  padding: 20px 60px;
}
.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hr-line {
  width: 60%;
  margin: auto;
}
.faq-page {
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}
.faq-body {
  margin: auto;
  text-align: center;
  width: 50%;
}

.active_faq,
.faq-page:hover {
  background: rgb(241, 238, 238);
}
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
/*sinal de mais*/
.faq-page:after {
  color: black;
  content: "\02795";
  font-size: 13px;
  float: right;
  margin-left: 5px;
}
/*sinal de menos*/
.active_faq:after {
  color: black;
  content: "\2796";
}

/* Contact us */

.ContactUs-header h2, .ContactUs-container h3{
  text-align: center;
    margin-top: 2em;
}
.ContactUs-container input[type=text] , .ContactUs-container input[type=email] , .ContactUs-container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #04AA6D;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.ContactUs-container input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  width: 100%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.ContactUs-container input[type=submit]:hover {
  background-color: #45a049;
}

/*******************************************/
/* User page*/
.vertical-menu {
  width: 20%; /* Set a width if you like */
}

.vertical-menu a, .vertical-menu button {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover, .vertical-menu button:hover {
  background-color: #04AA6D ; /* Green background on mouse-over */
  opacity: 0.8;
}

.vertical-menu img{
  border-radius: 50%;
}

/****************************************/
/* Edit profile and change password pages*/

.edit-profile, .change-password{
  padding: 16px;
}
.edit-profile input[type=email], .edit-profile input[type=text],.edit-profile input[type=number], .change-password input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin-top: 8px;
  margin-bottom: 2em;
  display: inline-block;
  border: 1px solid #04AA6D;
  box-sizing: border-box;
  gap:2em;
  border-radius: 20px;
}

.edit-profile button, .change-password button{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin-bottom: 1em;
  margin-top: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px
}
