

*{
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    padding: 0;
    border: 0;
   
}

ul{
    list-style: none;
}

body{
    font-family: sans-serif;
    background-color: white;
    margin: 8px 0px 0px 0px;
}
h1, h2{
    font-family: serif;
}

h1, h2{
    font-family: "Lora", serif;
}

/* Header */
body > header {
    background-color: white;
    color:  black;  
    box-shadow: 0px 9px 20px #888888;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;

    
}
body > header a{
    color: black;
    text-decoration: none;
}
body>header>a>img{
    margin-left: 1em;
    height: 6em;
    width: 6em;
}

/*sticky header */
main, footer {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + main ,footer{
  padding-top: 50px;
}


#search-bar> input[type=text]{
    
    width: 100%;    
    height: 2em;
    border: 2px solid green;
    border-radius: 4px;
}
#signup a{
    border-radius: 10px;
    border-top: 10px;
    border: 2px solid green;
    padding: 5px 1em;
}

/*restaurant list */


main {
  
    margin: 1em;
    padding: 1em;
  }
  
  main a {
    text-decoration: none;
  }

  main h1{
    text-align: center;
 }
  
 #restaurants-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 3em;
    margin: 0px 170px 0px 170px;
  }
  
  #restaurants-list article {
    display: grid;
    justify-content: center;
    width: 350px;
    
  }
  
  #restaurants-list article * {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  
  #restaurants-list article a {
    color: black;
    text-decoration: none;
  
    align-self: center;
    justify-self: center;
  
    text-align: left;
  }

  #restaurant-category{
    font-size: 15px;
  }

 .checked {
    color: orange;
  }

  /*footer*/
  footer{
    background-color: black;
    color: white;
    padding: 50px 170px 1rem 170px;
  }

  #footer-main{
    display: flex;
    flex-wrap: wrap;
  }

  #footer-logo{
    display: block;
    padding: 0 2rem;
    justify-content: center;
   
  }
  #footer-logo img{
    height: 7em;
    width: 7em;
  }

  #footer-table{
    display: block;
  }
  #footer-table li{
    margin-bottom: 5px;
    font-size: 15px;
  }



/*
dropdown menu
 */


.dropbtn {
    background-color: #FFFFFF;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    background-color: transparent;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0);
    right: 1em;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    background-color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #FFFFFF;}
/*
/* Style inputs */
/*input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother 
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns 
.row:after {
    content: "";
    display: table;
    clear: both;
} */


  /*login form */
  .login{
    margin: 0px 170px 0px 170px;
  }

  .login input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 2em;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    gap:2em;
    border-radius: 20px;
  }
  
  .login button , .login-newacc button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin-bottom: 1em;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px
  }
  
  .login button:hover , .login-newacc button:hover  {
    opacity: 0.8;
  }
  
  .login{
    padding: 16px;
  }
  
  .login span.psw {
    float: right;
  }
  #login-checkbox{
    margin-bottom: 1em;
  }
  #login-checkbox a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  #login-checkbox a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
/*
dropdown menu
 */


.dropbtn {
    background-color: #FFFFFF;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    background-color: transparent;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0);
    right: 1em;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    background-color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #FFFFFF;}


  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
  }
  
  hr.login-bar {
    margin: 0px 200px 0px 200px;
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray
  }

  .login-newacc{
    margin: 0px 170px 0px 170px;
    padding: 16px;
  }
  .login-newacc h2{
    text-align: center; 
  }
  /*.login-newacc button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin-bottom: 1em;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px
  }
  
  .login-newacc button:hover {
    opacity: 0.8;
  }*/

/*****************************************************************/

/* ABOUT US */
#AboutUsPageMembers{
  display: none;
}

.AboutUsPage{
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  justify-content: space-around;
  width:100%
}

.AboutUsBox{
  background-color: rgb(255, 255, 255);
  align-self: center;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  padding: 2.5em;
  -webkit-box-shadow: 0px 5px 20px 3px rgba(138, 138, 138, 0.05);
  box-shadow: 0px 5px 20px 3px rgba(138, 138, 138, 0.05);
  border: 1px solid rgba(190, 190, 190, 0.418); 
  width:40%;
}

.AboutUsTitle{
  align-self: center;
  color: black;
  font-weight: 900;
  font-size: 20px;
  padding-bottom: 15px;
}

.AboutUsMemberSpace{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  color: black; 
  margin-bottom: 3%;

  background-color: rgb(241, 238, 238);
  border-radius: 20px;
}

.AboutUsEmail{
  color: rgb(131, 131, 131); 
}

.AboutUsMember{
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.AboutUsHR{
  width: 90%;
  align-self: center;
  /*height: 5px;*/
  color: black;
  margin-bottom: 3%;
}

#AboutUsInfo{
  color: rgb(148, 144, 144);
  width: 90%;
  align-self: center;
  margin-bottom: 6%;
}

.AboutUsPhoto{
  display: inline;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 7%;
  margin-bottom: 7%;
}

.AboutUsMemberName{
  display: flex;
  align-self: center;
  flex-flow: column;
  justify-content: center;
}

.AboutUsButton{
  border: 0;
  background-color: #2a9d8f;
  padding: 13px;
  border-radius: 20px;
  font-size: 13px;
  background-color:green;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 40%;
  height: 5%;
  display: flex;
  justify-content: center;

  margin-left: auto; 
  margin-right: 0;
}

.AboutUsDivButton{
  width: 90%;
  align-self: center;
  display: flex;
}

#AboutUsTeamDiv{
  width: 90%;
  align-self: center;
}

.AboutUsMembersInfo{
  display: flex;
  flex-flow: column;
}

.AboutUsDivIcon{
  display: flex;
  flex-flow: row;
}

.AboutUsIcon{
  margin-right:10px;;
}

/* FAQ */


#FAQ {
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}
#FAQ-body body {
  font-family: sans-serif;
  color: black;
}
.faq-heading {
  border-bottom: #777;
  padding: 20px 60px;
}
.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hr-line {
  width: 60%;
  margin: auto;
}
.faq-page {
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}
.faq-body {
  margin: auto;
  text-align: center;
  width: 50%;
}

.active_faq,
.faq-page:hover {
  background: rgba(32, 184, 53, 0.2);
}
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
/*sinal de mais*/
.faq-page:after {
  color: black;
  content: "\02795";
  font-size: 13px;
  float: right;
  margin-left: 5px;
}
/*sinal de menos*/
.active_faq:after {
  color: black;
  content: "\2796";
}